{% import "../macros/button.njk" as button %}

<div class="{{partial.type}}{% for variant in partial.variants %} {{partial.type}}--{{variant}} {%- endfor %}">
  {% if partial.backgroundImage %}
    <div class="single-column__bg">
      <nma-picture
      {% if partial.backgroundImage.mobile %}
        mobile="{{partial.backgroundImage.mobile | url}}" 
      {% endif %}
      {% if partial.backgroundImage.tablet %}
        tablet="{{partial.backgroundImage.tablet | url }}" 
      {% endif %}
      src="{{partial.backgroundImage.src | url}}" 
      alt="{{partial.backgroundImage.alt}}"
      ></nma-picture>
    </div>
  {% endif %}

  <nma-text-stack 
    {% if partial.headline %}headline="{{partial.headline}}"{% endif %} 
    {% if partial.body %}body="{{partial.body}}"{% endif %}
    >
    <div slot="buttons">
      {% for link in partial.links %}
        {{button.render(link)}}
      {% endfor %}
    </div>
  </nma-text-stack>
</div>