<div class="{{partial.id}}">
  <nma-text-stack 
    {% if partial.headline %}headline="{{partial.headline}}"{% endif %} 
    {% if partial.body %}body="{{partial.body}}"{% endif %}
    ></nma-text-stack>
</div>