<template id="picture-template">
    <style>
        img {
            width: var(--nma-image-width, 100%);
            max-width: 100%;
            height: auto;
        }
    </style>
    <picture part="picture"></picture>
</template>