<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>
      {% if page_title %}{{page_title}} | {% endif %}{{meta.title}}</title>
    <base href="/">
    <link rel="stylesheet" href="{{'/css/main.css' | url}}">
  </head>
  <body>
    {% include "./components/header.njk" %}

    <main data-template="{{template}}">
      {% include "./components/partials.njk" %}
    </main>

    {% include "./components/footer.njk" %}

    {# Render all the templates for custom elements #}
    {% for file in allElementTemplates %}
      {% include "./elements/" + file %}
    {% endfor %}

    <script src="{{'/js/main.js' | url}}" type="module"></script>
  </body>
</html>